@use '../colors' as *;
@use '../fonts' as *;
@use '../utils' as *;
@use 'sass:color';

#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 7;
  width: $fluid;
  height: 100%;
  cursor: default;
  position: relative;

  font: $serif;
  color: $secondary;

  .heroScene {
    position: fixed;
    inset: 0;

    z-index: 15;
  }

  main#hero {
    height: 100%;
    padding-top: 5%;

    z-index: 5;

    h1 {
      text-align: center;

      font-size: clamp(3rem, 7vw + 1rem, 10rem);
      font-family: $sans-serif;
      color: $primary;
      pointer-events: all;
      cursor: auto;
      letter-spacing: 4px;
    }
  }
}
