:root {
  --dark: #1D1E20;
  --light: #D3CAC9;
  --accent-red: #DE1A40;
  --accent-gold: #CBC08E;
  --accent-green: #2C656E;
}

body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--light);
  color: var(--light);
  font-family: 'Montserrat',sans-serif;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#contact {
  color: #1D1E20;
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 90vw;
  height: 80vh;
  background-color: var(--light);
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 5px 3000px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 3000px rgba(0,0,0,0.5);

  transform: translate(-50%,-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
}

#close {
  align-self: flex-end;
  position: absolute;
  width: 20px;
  z-index: 1001;
  margin: 2em 2em 0 auto;
}

#contact-left, #contact-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 5%;
}

#contact-right {
  background-color: var(--dark);
}

#contact-form {
  width: 100%;
}

#name, #phone, #email, #message {
  width: 80%;
  height: 30px;
  border: solid 3px #a8a09f;
  border-radius: 5px;
  background-color: #D3CAC9;
}

#contact-head {
  font-weight: 500;
  align-self: flex-start;
}

#message {
  min-height: 60px;
}

#header-mobile {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  height: 8%;
  background-color: var(--dark);
}

#mobile-logo {
  height: 90%;
}

#header {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3em;
}

#header-bg {
  display: block;
  max-width: 1200px;
  position: absolute;
}

#brand {
  width: 400px;
  margin: 0 2em;
}

#watermark {
  position: absolute;
  top: 100%;
  left: 100%;
  max-width: 500px;

  transform: translate(-95%, -80%)  scale(0.8,0.8);
}

.nav-item {
  align-self: center;
  display: inline-block;
  position: relative;
  font-weight: 200;
  margin-left: 5em;
  font-size: 2em;
  margin: 0 2em;
}

.nav-item::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--light);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-item:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#nav-right {
  align-self: stretch;
  display: flex;
  justify-content: space-evenly;
}

#content {
  margin: 3em 7% 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#slider-div {
  display: none;
  align-items: center;
  margin-left: 10%;
}

#moon {
  height: 15px;
}

#sun {
  height: 19px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 20px;
  border: 2px solid var(--dark);
  border-radius: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 2px;
  bottom: 2px;
  background-color: var(--dark);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.hero {
  display: flex;
  align-items: center;
}

#cta {
  width: 55%;
  display: block;
}

#cta-text {
  font-size: 6em;
  font-weight: 300;
  margin-bottom: 1em;
  color: var(--dark);
}

#button-div {
  display: inline-block;
}

#cta-button-underlay {
  position: absolute;

  font-size: 1.5em;
  font-weight: 400;
  border-radius: 10px;
  display: inline-block;
  color: var(--accent-gold);
  background-color: var(--dark);
  padding: 20px 40px;
}

#cta-button {

  font-size: 1.5em;
  font-weight: 400;
  border-radius: 10px;
  display: inline-block;
  color: var(--dark);
  background-color: var(--light);
  padding: 20px 40px;
  border: solid 2px var(--dark);

  clip-path: circle(0% at 50% 50%);
  transition: all 0.2s ease-in-out;
}

#button-div:hover #cta-button {
  clip-path: circle(100% at 50% 50%);
}

#illustration {
  width: 45%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "device";
}

.device-illustration {
  max-width: 100%;
  grid-area: device;
}

#screen {
  animation-name: screen-dim;
}

#reflection {
  animation-name: reflection-rise;
}

#screen, #reflection {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes screen-dim {
  10% { opacity: 1; }
  30% { opacity: 0.1; }
  100% {opacity: 0.1;}
}

@keyframes reflection-rise {
  10% { transform: translateY(0); }
  30% { transform: translateY(-2em); }
  100% { transform: translateY(-2em); }
}

@media (max-width: 1650px) {
  #content {
    margin-top: 2em;
  }
  
  #cta-text {
    font-size: 5em;
  }
}

@media (max-width: 1500px) {
  #content {
    margin-top: 2em;
  }

  #header-bg {
    width: 75%;
  }

  .nav-item {
    font-size: 1.75em;
  }
}

@media (max-width: 1250px) {
  #brand {
    margin-right: 4em;
  }

  #content {
    margin-top: 0;
  }
}

@media (max-width: 1000px), (max-width: 1200px) and (min-height: 1300px) {
  #header-bg, #brand, #header {
    display: none;
  }

  #header-mobile {
    display: flex;
  }

  #watermark {
    display: none;
  }

  #illustration {
    margin-top: 1em;
  }

  #cta-text {
    font-size: 3em;
    font-weight: 400;
  }

  .nav-item {
    font-size: 1.4em;
  }

  .hero {
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }

  #cta, #illustration {
    width: 100%;
  }

  #button-div {
    margin-top: 1.5em;
  }
}

@media (max-width: 500px) {
  .nav-item {
    font-size: 1em;
  }

  #cta-text {
    font-size: 2em;
  }
}

@media (max-width: 300px) {
  #cta-text {
    font-size: 1.75em;
    font-weight: 500;
  }

  .nav-item {
    font-size: 0.8em;
  }
}

@media (max-height: 600px) {
  #cta, #illustration {
    margin: 1em;
  }

  .nav-item {
    margin: 0;
  }
}