@use "./colors" as *;
@use "./fonts";
@use 'sass:color';

$breakpoint-tablet: 1200px;
$breakpoint-mobile: 760px;

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: $primary;
  color: $secondary;
  overflow: hidden;
}

#index {
  width: 100vw;
  height: 100vh;
  cursor: none;
  overflow: hidden;
}

#hero {
  width: 100%;
  height: 100%;
}

// debug panel
.tp-dfwv {
  z-index: 50;
}

.loadingScreen {
  cursor: default;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: $primary;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;

  .imgWrapper {
    width: 20%;
    padding-top: 20%;
    position: relative;
    border-radius: 50%;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 70%;
    }

    &::before {
      box-shadow: 10px 10px 30px 5px $accent-blue;
    }

    &::after {
      box-shadow: -10px -10px 30px 5px $accent-pink;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg) scale(1);
      width: 100%;
      height: 100%;
      border-radius: 50%;

      animation-name: logoBreathe;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }

  &.disappear {
    animation-name: loadingOut;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    h2 {
      animation-name: loadingOut;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .loadingScreen {
    padding: 15% 0;
    justify-content: space-around;
    gap: 0;

    .imgWrapper {
      width: 50%;
      padding-top: 50%;
    }
  }
}

@keyframes logoBreathe {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}

@keyframes loadingOut {
  0% {
    opacity: 1;
    display: flex;
  }

  99% {
    opacity: 0;
    display: flex;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}

#fakeHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 7;
  width: 100%;
  height: 100%;
  cursor: default;

  font: fonts.$serif;
  color: $secondary;

  header {
    width: 85%;
    height: 10%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      max-height: 60%;
      margin-right: 2rem;
    }

    h2 {
      font-size: 2rem;
      cursor: pointer;
    }

    nav {
      width: 40%;
      font-size: 1.2rem;
    }

    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      list-style-type: none;

      li {
        cursor: pointer;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 0.05rem;
          bottom: -2px;
          left: 0;
          background-color: $secondary;
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
          border-radius: 50%;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }

  main {
    width: 85%;
    max-width: 1500px;
    height: 90%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 60% 20%;

    .heroText {
      align-self: center;
      grid-row: 2/3;
      grid-column: 1/2;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      h1 {
        font-size: clamp(3rem, 3vw + 1rem, 5rem);
        max-width: 45ch;
      }

      .buttons {
        display: flex;
        gap: 2rem;

        button {
          font-size: 1.5rem;
          font: fonts.$sans-serif;
          padding: 1rem 2.5rem;
          border-radius: 5px;
          cursor: pointer;

          border: 2px $accent-blue solid;
          color: $accent-blue;
          background-color: rgba(255, 255, 255, 0);

          transition: all ease-in-out 0.1s;

          &:hover {
            background-color: rgb(255, 255, 255, 0.5);
          }
        }

        button.mainBtn {
          border: none;
          background-color: $accent-blue;

          color: $primary;

          &:hover {
            background-color: color.adjust($accent-blue, $lightness: 10%);
          }
        }
      }
    }

    .logo {
      grid-row: 2/3;
      grid-column: 2/3;
      place-self: center end;
      height: 100%;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    header {
      nav {
        width: 90%;
        max-width: 225px;
      }
    }
    main {
      grid-template-columns: 50% 10% 40%;
      .logo {
        height: auto;
        width: 100%;
        grid-column: 3/4;
      }

      .buttons button {
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
      }
    }
  }

  @media (max-width: $breakpoint-mobile) {
    main {
      grid-template-columns: 100%;
      .logo {
        display: none;
      }
    }
  }
}

#hero {
  height: 100%;
  width: 100%;
  font-family: fonts.$serif;

  display: grid;
  place-items: center;
}

.cursorWrapper {
  position: absolute;
  z-index: 5;
  pointer-events: none;
  top: -100%;
  left: -100%;

  &.mobile {
    opacity: 0;
  }
}

.cursor {
  transform: translate(-50%, -50%);
  width: 0.75rem;
  height: 0.75rem;
  pointer-events: none;
  box-shadow: 0px 0px 0.25rem 0.1rem #525252;

  position: absolute;

  border: 0px white solid;
  border-radius: 50%;
  background-color: $primary;
  transition: width ease-in-out 0.2s, height ease-in-out 0.2s,
    border ease-in-out 0.2s, background-color ease-in-out 0.2s,
    box-shadow ease-in-out 0.2s;

  &.hovering {
    height: 3rem;
    width: 3rem;

    box-shadow: 0px 0px 0.5rem 0.2rem #525252;

    ~ .tooltip {
      transform: scaleX(1) scaleY(1) translateY(-50%);
    }
  }

  .ripple {
    position: absolute;
    border-radius: 50%;

    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 35%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    );

    animation-name: rippleAnimation;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 2.5s;
  }

  ~ .tooltip {
    position: absolute;
    width: auto;
    height: 2.5rem;
    z-index: -1;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    box-shadow: 0px 0px 0.5rem 0.2rem #525252;
    letter-spacing: 1px;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    display: grid;
    place-items: center;

    background-color: $primary;
    transform-origin: top left;
    transform: scaleX(0) scaleY(0) translateY(-50%);

    transition: transform ease-in-out 0.2s, height ease-in-out 0.2s;

    p {
      font-family: fonts.$serif;
      font-size: 1.2rem;
      font-weight: 600;
      white-space: nowrap;
    }
  }
}

@keyframes cursorAnimation {
  0% {
    backdrop-filter: blur(4px);
  }
  100% {
    backdrop-filter: blur(6px);
  }
}

@keyframes rippleAnimation {
  0% {
    opacity: 1;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  100% {
    opacity: 0;

    left: -75%;
    top: -75%;
    right: -75%;
    bottom: -75%;
  }
}
