* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f1f6f9;
  color: #34252f;
  overflow: hidden;
}

#index {
  width: 100vw;
  height: 100vh;
  cursor: none;
  overflow: hidden;
}

#hero {
  width: 100%;
  height: 100%;
}

.tp-dfwv {
  z-index: 50;
}

.loadingScreen {
  cursor: default;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #f1f6f9;
  padding: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.loadingScreen .imgWrapper {
  width: 20%;
  padding-top: 20%;
  position: relative;
  border-radius: 50%;
}
.loadingScreen .imgWrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 70%;
}
.loadingScreen .imgWrapper::before {
  -webkit-box-shadow: 10px 10px 30px 5px #2374ab;
          box-shadow: 10px 10px 30px 5px #2374ab;
}
.loadingScreen .imgWrapper::after {
  -webkit-box-shadow: -10px -10px 30px 5px #ff9e9e;
          box-shadow: -10px -10px 30px 5px #ff9e9e;
}
.loadingScreen .imgWrapper::before, .loadingScreen .imgWrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
          transform: translate(-50%, -50%) rotate(0deg) scale(1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation-name: logoBreathe;
          animation-name: logoBreathe;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.loadingScreen.disappear {
  -webkit-animation-name: loadingOut;
          animation-name: loadingOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.loadingScreen.disappear h2 {
  -webkit-animation-name: loadingOut;
          animation-name: loadingOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.disappear {
  -webkit-animation-name: loadingOut;
          animation-name: loadingOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 1200px) {
  .loadingScreen {
    padding: 15% 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 0;
  }
  .loadingScreen .imgWrapper {
    width: 50%;
    padding-top: 50%;
  }
}
@-webkit-keyframes logoBreathe {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
            transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
            transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1);
            transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}
@keyframes logoBreathe {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
            transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
            transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1);
            transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}
@-webkit-keyframes loadingOut {
  0% {
    opacity: 1;
    display: -webkit-box;
    display: flex;
  }
  99% {
    opacity: 0;
    display: -webkit-box;
    display: flex;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}
@keyframes loadingOut {
  0% {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  99% {
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}
#fakeHero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 7;
  width: 100%;
  height: 100%;
  cursor: default;
  font: orpheuspro, serif;
  color: #34252f;
}
#fakeHero header {
  width: 85%;
  height: 10%;
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#fakeHero header img {
  max-height: 60%;
  margin-right: 2rem;
}
#fakeHero header h2 {
  font-size: 2rem;
  cursor: pointer;
}
#fakeHero header nav {
  width: 40%;
  font-size: 1.2rem;
}
#fakeHero header ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}
#fakeHero header ul li {
  cursor: pointer;
  position: relative;
}
#fakeHero header ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.05rem;
  bottom: -2px;
  left: 0;
  background-color: #34252f;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  border-radius: 50%;
}
#fakeHero header ul li:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
#fakeHero main {
  width: 85%;
  max-width: 1500px;
  height: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 60% 20%;
}
#fakeHero main .heroText {
  align-self: center;
  grid-row: 2/3;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
#fakeHero main .heroText h1 {
  font-size: clamp(3rem, 3vw + 1rem, 5rem);
  max-width: 45ch;
}
#fakeHero main .heroText .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
#fakeHero main .heroText .buttons button {
  font-size: 1.5rem;
  font: proxima-nova, sans-serif;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  cursor: pointer;
  border: 2px #2374ab solid;
  color: #2374ab;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}
#fakeHero main .heroText .buttons button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
#fakeHero main .heroText .buttons button.mainBtn {
  border: none;
  background-color: #2374ab;
  color: #f1f6f9;
}
#fakeHero main .heroText .buttons button.mainBtn:hover {
  background-color: #2d90d4;
}
#fakeHero main .logo {
  grid-row: 2/3;
  grid-column: 2/3;
  place-self: center end;
  height: 100%;
}

@media (max-width: 1200px) {
  #fakeHero header nav {
    width: 90%;
    max-width: 225px;
  }
  #fakeHero main {
    grid-template-columns: 50% 10% 40%;
  }
  #fakeHero main .logo {
    height: auto;
    width: 100%;
    grid-column: 3/4;
  }
  #fakeHero main .heroText .buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #fakeHero main .heroText .buttons button {
    font-size: 1.5rem;
    padding: 1rem 1.2rem;
  }
}
@media (max-width: 760px) {
  #fakeHero main {
    grid-template-columns: 100%;
  }
  #fakeHero main .logo {
    display: none;
  }
}
#hero {
  height: 100%;
  width: 100%;
  font-family: orpheuspro, serif;
  display: grid;
  place-items: center;
}

.cursorWrapper {
  position: absolute;
  z-index: 5;
  pointer-events: none;
  top: -100%;
  left: -100%;
}
.cursorWrapper.mobile {
  opacity: 0;
}

.cursor {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0.75rem;
  height: 0.75rem;
  pointer-events: none;
  -webkit-box-shadow: 0px 0px 0.25rem 0.1rem #525252;
          box-shadow: 0px 0px 0.25rem 0.1rem #525252;
  position: absolute;
  border: 0px white solid;
  border-radius: 50%;
  background-color: #f1f6f9;
  -webkit-transition: width ease-in-out 0.2s, height ease-in-out 0.2s, border ease-in-out 0.2s, background-color ease-in-out 0.2s, -webkit-box-shadow ease-in-out 0.2s;
  transition: width ease-in-out 0.2s, height ease-in-out 0.2s, border ease-in-out 0.2s, background-color ease-in-out 0.2s, -webkit-box-shadow ease-in-out 0.2s;
  transition: width ease-in-out 0.2s, height ease-in-out 0.2s, border ease-in-out 0.2s, background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  transition: width ease-in-out 0.2s, height ease-in-out 0.2s, border ease-in-out 0.2s, background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, -webkit-box-shadow ease-in-out 0.2s;
}
.cursor.hovering {
  height: 3rem;
  width: 3rem;
  -webkit-box-shadow: 0px 0px 0.5rem 0.2rem #525252;
          box-shadow: 0px 0px 0.5rem 0.2rem #525252;
}
.cursor.hovering ~ .tooltip {
  -webkit-transform: scaleX(1) scaleY(1) translateY(-50%);
          transform: scaleX(1) scaleY(1) translateY(-50%);
}
.cursor .ripple {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0) 100%);
  -webkit-animation-name: rippleAnimation;
          animation-name: rippleAnimation;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.cursor ~ .tooltip {
  position: absolute;
  width: auto;
  height: 2.5rem;
  z-index: -1;
  padding-left: 2.5rem;
  padding-right: 1.5rem;
  -webkit-box-shadow: 0px 0px 0.5rem 0.2rem #525252;
          box-shadow: 0px 0px 0.5rem 0.2rem #525252;
  letter-spacing: 1px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: grid;
  place-items: center;
  background-color: #f1f6f9;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scaleX(0) scaleY(0) translateY(-50%);
          transform: scaleX(0) scaleY(0) translateY(-50%);
  -webkit-transition: height ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  transition: height ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, height ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, height ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
}
.cursor ~ .tooltip p {
  font-family: orpheuspro, serif;
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
}

.caseStudy {
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  cursor: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #34252f;
}
.caseStudy h1 {
  font-family: orpheuspro, serif;
  font-size: clamp(3rem, 3vw + 1rem, 5rem);
}
.caseStudy .head {
  width: 85%;
  max-width: 1500px;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.caseStudy .head .wrap {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: gap 0.2s ease-in-out;
  transition: gap 0.2s ease-in-out;
}
.caseStudy .head .wrap:hover {
  gap: 1rem;
}
.caseStudy main {
  width: 85%;
  max-width: 1500px;
}
.caseStudy main h1 {
  margin-bottom: 2rem;
}
.caseStudy main h3 {
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  max-width: 65ch;
  line-height: 1.5rem;
  color: #606060;
}
.caseStudy.in {
  -webkit-animation-name: case-in;
          animation-name: case-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.caseStudy.out {
  -webkit-animation-name: case-out;
          animation-name: case-out;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes case-in {
  0% {
    pointer-events: none;
    touch-action: none;
    opacity: 0;
  }
  100% {
    opacity: 1;
    pointer-events: all;
    touch-action: auto;
  }
}

@keyframes case-in {
  0% {
    pointer-events: none;
    -ms-touch-action: none;
        touch-action: none;
    opacity: 0;
  }
  100% {
    opacity: 1;
    pointer-events: all;
    -ms-touch-action: auto;
        touch-action: auto;
  }
}
@-webkit-keyframes case-out {
  0% {
    pointer-events: all;
    touch-action: auto;
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    touch-action: none;
  }
}
@keyframes case-out {
  0% {
    pointer-events: all;
    -ms-touch-action: auto;
        touch-action: auto;
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    -ms-touch-action: none;
        touch-action: none;
  }
}
.globalTooltip {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  z-index: 2;
  -webkit-filter: drop-shadow(10px 10px 25px #000000);
          filter: drop-shadow(10px 10px 25px #000000);
  opacity: 1;
  color: #f1f6f9;
  font-size: clamp(1.2rem, 1.5vw + 1rem, 1.8rem);
  font-weight: 500;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.globalTooltip.hide {
  opacity: 0;
}

.brand {
  position: absolute;
  color: #f1f6f9;
  bottom: 4rem;
  left: 4rem;
  right: 2rem;
  -webkit-filter: drop-shadow(10px 10px 10px #000000);
          filter: drop-shadow(10px 10px 10px #000000);
  -webkit-animation-name: brand;
          animation-name: brand;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.brand h1 {
  font-size: clamp(3rem, 4vw + 1rem, 7rem);
  font-weight: 700;
  margin-bottom: 1rem;
  opacity: 0;
  -webkit-animation-name: brand-text;
          animation-name: brand-text;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.brand h3 {
  font-size: clamp(1.2rem, 1.5vw + 1rem, 1.8rem);
  font-weight: 300;
  opacity: 0;
  -webkit-animation-name: brand-text;
          animation-name: brand-text;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 1200px) {
  .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation-delay: 6.5s;
            animation-delay: 6.5s;
  }
  .brand h1 {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
  .brand h3 {
    -webkit-animation-delay: 3.5s;
            animation-delay: 3.5s;
  }
}
@-webkit-keyframes brand-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes brand-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes brand {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes brand {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes cursorAnimation {
  0% {
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
  100% {
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }
}
@keyframes cursorAnimation {
  0% {
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
  100% {
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }
}
@-webkit-keyframes rippleAnimation {
  0% {
    opacity: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
    left: -75%;
    top: -75%;
    right: -75%;
    bottom: -75%;
  }
}
@keyframes rippleAnimation {
  0% {
    opacity: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
    left: -75%;
    top: -75%;
    right: -75%;
    bottom: -75%;
  }
}

/*# sourceMappingURL=main.css.map */