* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f1f6f9;
  color: #34252f;
  overflow: hidden;
}

#index {
  width: 100vw;
  height: 100vh;
  cursor: none;
  overflow: hidden;
}

#hero {
  width: 100%;
  height: 100%;
}

.tp-dfwv {
  z-index: 50;
}

.loadingScreen {
  cursor: default;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #f1f6f9;
  padding: 15% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.loadingScreen .imgWrapper {
  width: 10%;
  padding-top: 10%;
  position: relative;
  border-radius: 50%;
}
.loadingScreen .imgWrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.loadingScreen .imgWrapper::before {
  -webkit-box-shadow: 10px 10px 30px 5px #2374ab;
          box-shadow: 10px 10px 30px 5px #2374ab;
}
.loadingScreen .imgWrapper::after {
  -webkit-box-shadow: -10px -10px 30px 5px #ff9e9e;
          box-shadow: -10px -10px 30px 5px #ff9e9e;
}
.loadingScreen .imgWrapper::before, .loadingScreen .imgWrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
          transform: translate(-50%, -50%) rotate(0deg) scale(1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation-name: logoBreathe;
          animation-name: logoBreathe;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.loadingScreen.disappear {
  -webkit-animation-name: loadingOut;
          animation-name: loadingOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.loadingScreen.disappear h2 {
  -webkit-animation-name: loadingOut;
          animation-name: loadingOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes logoBreathe {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
            transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
            transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1);
            transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}

@keyframes logoBreathe {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
            transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
            transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1);
            transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}
@-webkit-keyframes loadingOut {
  0% {
    opacity: 1;
    display: -webkit-box;
    display: flex;
  }
  99% {
    opacity: 0;
    display: -webkit-box;
    display: flex;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes loadingOut {
  0% {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  99% {
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
#fakeHero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  cursor: default;
  font: orpheuspro, serif;
  color: #34252f;
}
#fakeHero header {
  width: 100%;
  height: 10vh;
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#fakeHero header h2 {
  font-size: 2rem;
  cursor: pointer;
}
#fakeHero header nav {
  width: 40%;
  font-size: 1.2rem;
}
#fakeHero header ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}
#fakeHero header ul li {
  cursor: pointer;
  position: relative;
}
#fakeHero header ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.05rem;
  bottom: -2px;
  left: 0;
  background-color: #34252f;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  border-radius: 50%;
}
#fakeHero header ul li:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
#fakeHero main {
  width: 100%;
  max-width: 1500px;
  height: 90vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 60% 20%;
}
#fakeHero main .heroText {
  align-self: center;
  grid-row: 2/3;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
#fakeHero main .heroText h1 {
  font-size: 5rem;
  max-width: 45ch;
}
#fakeHero main .heroText .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
#fakeHero main .heroText .buttons button {
  font-size: 1.5rem;
  font: proxima-nova, sans-serif;
  padding: 1rem 2.5rem;
  border-radius: 5px;
  cursor: pointer;
  border: 2px #2374ab solid;
  color: #2374ab;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}
#fakeHero main .heroText .buttons button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
#fakeHero main .heroText .buttons button.mainBtn {
  border: none;
  background-color: #2374ab;
  color: #f1f6f9;
}
#fakeHero main .heroText .buttons button.mainBtn:hover {
  background-color: #2d90d4;
}
#fakeHero main .logo {
  grid-row: 2/3;
  grid-column: 2/3;
  place-self: center end;
  height: 100%;
}

#hero {
  height: 100%;
  width: 100%;
  font-family: orpheuspro, serif;
  display: grid;
  place-items: center;
}

.cursorWrapper {
  position: absolute;
  z-index: 15;
  pointer-events: none;
}

.cursor {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0.75rem;
  height: 0.75rem;
  pointer-events: none;
  -webkit-box-shadow: 0px 0px 0.25rem 0.1rem #525252;
          box-shadow: 0px 0px 0.25rem 0.1rem #525252;
  position: absolute;
  border: 0px white solid;
  border-radius: 50%;
  background-color: #f1f6f9;
  -webkit-transition: width ease-in-out 0.2s, height ease-in-out 0.2s, border ease-in-out 0.2s, background-color ease-in-out 0.2s, -webkit-box-shadow ease-in-out 0.2s;
  transition: width ease-in-out 0.2s, height ease-in-out 0.2s, border ease-in-out 0.2s, background-color ease-in-out 0.2s, -webkit-box-shadow ease-in-out 0.2s;
  transition: width ease-in-out 0.2s, height ease-in-out 0.2s, border ease-in-out 0.2s, background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s;
  transition: width ease-in-out 0.2s, height ease-in-out 0.2s, border ease-in-out 0.2s, background-color ease-in-out 0.2s, box-shadow ease-in-out 0.2s, -webkit-box-shadow ease-in-out 0.2s;
}
.cursor.hovering {
  height: 3rem;
  width: 3rem;
  -webkit-box-shadow: 0px 0px 0.5rem 0.2rem #525252;
          box-shadow: 0px 0px 0.5rem 0.2rem #525252;
}
.cursor.hovering ~ .tooltip {
  -webkit-transform: scaleX(1) scaleY(1) translateY(-50%);
          transform: scaleX(1) scaleY(1) translateY(-50%);
}
.cursor .ripple {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0) 100%);
  -webkit-animation-name: rippleAnimation;
          animation-name: rippleAnimation;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.cursor ~ .tooltip {
  position: absolute;
  width: auto;
  height: 2.5rem;
  z-index: -1;
  padding-left: 2.5rem;
  padding-right: 1.5rem;
  -webkit-box-shadow: 0px 0px 0.5rem 0.2rem #525252;
          box-shadow: 0px 0px 0.5rem 0.2rem #525252;
  letter-spacing: 1px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: grid;
  place-items: center;
  background-color: #f1f6f9;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scaleX(0) scaleY(0) translateY(-50%);
          transform: scaleX(0) scaleY(0) translateY(-50%);
  -webkit-transition: height ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  transition: height ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, height ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, height ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
}
.cursor ~ .tooltip p {
  font-family: orpheuspro, serif;
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
}

@-webkit-keyframes cursorAnimation {
  0% {
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
  100% {
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }
}

@keyframes cursorAnimation {
  0% {
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
  100% {
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }
}
@-webkit-keyframes rippleAnimation {
  0% {
    opacity: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
    left: -75%;
    top: -75%;
    right: -75%;
    bottom: -75%;
  }
}
@keyframes rippleAnimation {
  0% {
    opacity: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  100% {
    opacity: 0;
    left: -75%;
    top: -75%;
    right: -75%;
    bottom: -75%;
  }
}

/*# sourceMappingURL=main.css.map */