@use '../fonts';
@use '../colors' as *;

#index {
  width: 100vw;
  min-height: 100vh;
  padding: 0 10vw;

  display: grid;
  grid-template-rows: 10vh 1fr 10vh;
}

#hero {
  height: 100%;
  width: 100%;
  font-family: fonts.$sans-serif;

  display: grid;
  place-items: center;
}
